.button
            {         
                display: inline-block; 
                white-space: nowrap; 
                background-color: rgba(0, 0, 0, .1); 
                background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
                background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
                background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
                background-image: -o-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
                background-image: linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
                border: 1px solid #333; 
                padding: 0 1.5em; 
                margin: 0.5em; 
                font: bold 1em/2em Arial, Helvetica; 
                text-decoration: none;
                color: #fff; 
                text-shadow: 0 -1px 0 rgba(0,0,0,1); 
                -moz-border-radius:4px; 
                border-radius:4px; 
                box-shadow: 0 0 8px rgba(255,255,255,.5) inset, 0 1px 0 rgba(0,0,0,.3); 
            } 

            .button:hover{ 
                background-image: -webkit-linear-gradient(top, rgba(255, 255, 255,.1), rgba(0, 0, 0, .1)); 
                background-image: -moz-linear-gradient(top, rgba(255, 255, 255,.1), rgba(0, 0, 0, .1)); 
                background-image: -ms-linear-gradient(top, rgba(255, 255, 255,.1), rgba(0, 0, 0, .1)); 
                background-image: -o-linear-gradient(top, rgba(255, 255, 255,.1), rgba(0, 0, 0, .1)); 
                background-image: linear-gradient(top, rgba(255, 255, 255,.1), rgba(0, 0, 0, .1)); 
            } 
             
            .button:active{ 
                -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset; 
                -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset; 
                box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset; 
                position: relative; 
                top: 1px; 
            } 

            .button:focus{ 
                outline: 0; 
                 
            }[/color][/color][/color][/color]

/*.capacitacion { content: url("../images/gray/64x64/target.png") }*/
.capacitacion:before { content: url("../images/gray/64x64/target.png") }
.capacitacion:before { content: url("../images/blue/64x64/target.png") }

table.currentline{
	background-color: black;
}
table.currentline:hover{
	background-color: #DDDDDD;
}
