#exampleVIII {
	display: inline-block;
	width: 180px;
	text-align: center;
	cursor: pointer;
	background: url('../img/shading.png');
	padding: 5px;
}

.picker {
	cursor: pointer;
	width: 13px;
	height: 12px;
	display: inline-block;
	background: url('../img/calendar.gif') no-repeat;
	margin-left: -19px;
	margin-top: 4px;
	position: absolute;
	display: inline;
	margin-top: 5px;
}
